body{
 background: url('../../../materials/images/mountains/mountain-home-page-1.jpg'); 
    

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
    text-align: center;
    justify-content: flex-end;
    z-index: 1;
}
.logo {
    background: black;
}
.logo:hover {
    color: white;
    background: black;
}


.image-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 80%;
}


.image-container img{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(3px);

}

.image-container .image-cover{

    z-index: 2;
    background: rgba(30,144,255, 0.5) ;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
   
}
.image-container .text{
    font-weight: 800;
    color: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 64em;
}

.inforamation-container{
    background-color: white;
    padding-bottom: 2em;

}

.river-information, .mountains-information{
    padding: 2em;
    max-width: 64em;
    margin:0 auto;
    padding-top: 2em;
}
.river-information{
    text-align: left;
}
.mountains-information{
    text-align: right;
}

.river-information hr, .mountains-information hr{

    width: 20%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color:  rgb(30,144,255);
    border: 4px solid  rgb(30,144,255);
}
.mountains-information hr{
   position: relative;
    left: 100%;
    transform: translateX(-100%);
    background-color: rgb(128,0,0);
    border: 4px solid  rgb(128,0,0);
}

.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding : 2em;
    grid-template-areas: 
    "text text text"
    "card1 card2 card3";
    justify-items: center;
    grid-row-gap: 2em;
     
}

#card-1 {
    grid-area: card1;
}

#card-2 {
    grid-area: card2;
}
#card-3 {
    grid-area: card3;
}
.articles .text {
    grid-area: text;
    
    color: white;
}

@media only screen and (max-width: 1000px) {
    .articles{
     display: block;
     padding-bottom: 2em;
    }
    .card{
        
        margin: auto;
        margin-top: 1em;
    }
  }