.card {

    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 400px;
    transition: 0.3s box-shadow ease-in;
}

.card:hover {
    box-shadow: 0px 0px 5px 0px silver;
}


.card .image-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.card .image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .text-holder {
    text-align: left;
    position: absolute;
    bottom: 0;
    font-size: 1.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 2.4em;
    padding-top: 2em;
    color: wheat;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.1));
}

@media (max-width: 480px) {
    .card {
        width: auto;
    }
}